# ------------------------------------------------------------------------
# Official Terraform .gitignore Template
# ------------------------------------------------------------------------

# Local .terraform directories (contains downloaded plugins and modules)
**/.terraform/*

# .tfstate files (Contains sensitive, cleartext infrastructure data)
# Note: Use a remote backend (S3, Azure Blob, Terraform Cloud) instead of Git.
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all variable files by default as they typically contain secrets

*.tfvars.json

# Ignore override files as they are used locally to override resources
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# CLI configuration files
.terraformrc
terraform.rc
Day-01/.terraform.lock.hcl
Day-02/.terraform.lock.hcl
Day-03/.terraform.lock.hcl

*/.terraform.lock.hcl

Day-04/remote-exec/.terraform.lock.hcl
Day-04/local-provisnor/.terraform.lock.hcl
Day-04/file-provisnors/.terraform.lock.hcl
C:\aws_with_terraform\Day-04\remote-exec\.terraform.lock.hcl
C:\aws_with_terraform\Day-04\file-provisnors\custom-key.pem
C:\aws_with_terraform\Day-04\local-provisioner\.terraform.lock.hcl
C:\aws_with_terraform\Day-04\file-provisnors\.terraform.lock.hcl

C:\aws_with_terraform\workspace\.terraform.lock.hcl

C:\aws_with_terraform\workspace\.terraform

Day-04/file-provisnors/custom-key.pem"
*.pem
C:\aws_with_terraform\workspace\.terraform.lock.hcl
C:\aws_with_terraform\workspace\.terraform
C:\aws_with_terraform\Day-01\terraform-provider-aws_v6.63.0_x5.exe

# Ignore local Terraform provider executable
Day-01/terraform-provider-aws_v6.63.0_x5.exe

# Ignore Day-01 license file
Day-01/LICENSE.txt

C:\aws_with_terraform\environments\Storage\S3\dev\.terraform

C:\aws_with_terraform\environments\Storage\S3\dev\.terraform.lock.hcl
environments/Storage/S3/dev/.terraform.lock.hcl